@using LightstoneApp.Presentation.Web.Mvc.Client.Resources

@model LightstoneApp.Presentation.Web.Mvc.Client.ViewModels.PackageCrudViewModel

@{ 
	ViewBag.Title = "Remove Package"; 
	}

<h2>@ViewBag.Title</h2>

<h3>@Html.Label(PresentationResources.DeleteSure)</h3>
@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

	<fieldset>
		<legend>Package</legend>

			@Html.HiddenFor(model => model.Package.Id)

		<div class="newline">
			<div class="label">
				@Html.DisplayNameFor(model => model.Package.Description):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Package.Description)
			</div>
			<div class="label">
				@Html.DisplayNameFor(model => model.Package.Name):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Package.Name)
			</div>
		</div>
		<div class="newline">
			<div class="label">
				@Html.DisplayNameFor(model => model.Package.Owner):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Package.Owner)
			</div>
			<div class="label">
				@Html.DisplayNameFor(model => model.Package.StateId):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Package.StateId)
			</div>
		</div>
		<div class="newline">
			<div class="label">
				@Html.DisplayNameFor(model => model.Package.Version):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Package.Version)
			</div>
			<div class="label">
				@Html.DisplayNameFor(model => model.Package.CostOfSale):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Package.CostOfSale)
			</div>
		</div>
		<div class="newline">
			<div class="label">
				@Html.DisplayNameFor(model => model.Package.Created):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Package.Created)
			</div>
			<div class="label">
				@Html.DisplayNameFor(model => model.Package.Edited):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Package.Edited)
			</div>
		</div>
		<div class="newline">
			<div class="label">
				@Html.DisplayNameFor(model => model.Package.IndustryId):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Package.IndustryId)
			</div>
			<div class="label">
				@Html.DisplayNameFor(model => model.Package.Published):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Package.Published)
			</div>
		</div>
		<div class="newline">
			<div class="label">
				@Html.DisplayNameFor(model => model.Package.RecomendedRetailPrice):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Package.RecomendedRetailPrice)
			</div>
			<div class="label">
				@Html.DisplayNameFor(model => model.Package.RevisionDate):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Package.RevisionDate)
			</div>
		</div>
		<div class="buttons">
			<p>
				<input type="submit" name="remove" value="@PresentationResources.Remove" />
			</p>
		</div>		
	</fieldset>
}

<div>
	@Html.ActionLink(PresentationResources.GoBack, "Find")
</div>
