@using LightstoneApp.Presentation.Web.Mvc.Client.Resources

@model LightstoneApp.Presentation.Web.Mvc.Client.ViewModels.PackageFindViewModel

@{ 
	ViewBag.Title = "Find Package"; 
}

<h2>@ViewBag.Title</h2>
@using (Ajax.BeginForm(new AjaxOptions { LoadingElementDuration = 400, LoadingElementId = "busyinfo", UpdateTargetId = "results", OnBegin = "onPetitionBegin", OnComplete = "onPetitionComplete" }))
{
	@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

	<fieldset>
		<legend>Package</legend>

		<div id="search">
			<div class="newline">
				<div class="label">
					@Html.LabelFor(model => model.Package.Id):
				</div>
				<div class="field">
					@Html.EditorFor(model => model.Package.Id)
					@Html.ValidationMessageFor(model => model.Package.Id)
				</div>
				<div class="label">
					@Html.LabelFor(model => model.Package.Description):
				</div>
				<div class="field">
					@Html.EditorFor(model => model.Package.Description)
					@Html.ValidationMessageFor(model => model.Package.Description)
				</div>
			</div>
			<div class="newline">
				<div class="label">
					@Html.LabelFor(model => model.Package.Name):
				</div>
				<div class="field">
					@Html.EditorFor(model => model.Package.Name)
					@Html.ValidationMessageFor(model => model.Package.Name)
				</div>
				<div class="label">
					@Html.LabelFor(model => model.Package.Owner):
				</div>
				<div class="field">
					@Html.EditorFor(model => model.Package.Owner)
					@Html.ValidationMessageFor(model => model.Package.Owner)
				</div>
			</div>
			<div class="newline">
				<div class="label">
					@Html.LabelFor(model => model.Package.StateId):
				</div>
				<div class="field">
					@Html.DropDownListFor(model => model.Package.StateId, Model.States)
					@Html.ValidationMessageFor(model => model.Package.StateId)
				</div>
				<div class="label">
					@Html.LabelFor(model => model.Package.Version):
				</div>
				<div class="field">
					@Html.EditorFor(model => model.Package.Version)
					@Html.ValidationMessageFor(model => model.Package.Version)
				</div>
			</div>
			<div class="newline">
				<div class="label">
					@Html.LabelFor(model => model.Package.CostOfSale):
				</div>
				<div class="field">
					@Html.EditorFor(model => model.Package.CostOfSale)
					@Html.ValidationMessageFor(model => model.Package.CostOfSale)
				</div>
				<div class="label">
					@Html.LabelFor(model => model.Package.Created):
				</div>
				<div class="field">
					@Html.EditorFor(model => model.Package.Created)
					@Html.ValidationMessageFor(model => model.Package.Created)
				</div>
			</div>
			<div class="newline">
				<div class="label">
					@Html.LabelFor(model => model.Package.Edited):
				</div>
				<div class="field">
					@Html.EditorFor(model => model.Package.Edited)
					@Html.ValidationMessageFor(model => model.Package.Edited)
				</div>
				<div class="label">
					@Html.LabelFor(model => model.Package.IndustryId):
				</div>
				<div class="field">
					@Html.DropDownListFor(model => model.Package.IndustryId, Model.Industrys)
					@Html.ValidationMessageFor(model => model.Package.IndustryId)
				</div>
			</div>
			<div class="newline">
				<div class="label">
					@Html.LabelFor(model => model.Package.Published):
				</div>
				<div class="field">
					@Html.EditorFor(model => model.Package.Published)
					@Html.ValidationMessageFor(model => model.Package.Published)
				</div>
				<div class="label">
					@Html.LabelFor(model => model.Package.RecomendedRetailPrice):
				</div>
				<div class="field">
					@Html.EditorFor(model => model.Package.RecomendedRetailPrice)
					@Html.ValidationMessageFor(model => model.Package.RecomendedRetailPrice)
				</div>
			</div>
			<div class="newline">
				<div class="label">
					@Html.LabelFor(model => model.Package.RevisionDate):
				</div>
				<div class="field">
					@Html.EditorFor(model => model.Package.RevisionDate)
					@Html.ValidationMessageFor(model => model.Package.RevisionDate)
				</div>
			</div>
			<div class="buttons">
				<p>
					<input type="reset" name="reset" value="@PresentationResources.Reset" />
					<input type="submit" name="find" value="@PresentationResources.Find" />
				</p>
			</div>
		</div>
		<div id="viewform">[@PresentationResources.ViewForm]</div>
		<div id="busyinfo">
			<img src="~/Content/themes/base/images/busyinfo.gif" alt="@PresentationResources.Loading" />
		</div>
		@{ Html.RenderPartial("_PackageFindPartialView"); }
	</fieldset>
}

<div>
	@Html.ActionLink(PresentationResources.GoBack, "Index", "Home")
</div>

@section Scripts 
{
    <script>
        $(document).on("click", "#viewform", function () {
            $("#bcenter").show("slow");
			$("#search").show("slow");
            $("#viewform").hide("slow");
        });

        function onPetitionBegin() {
            $("#results").hide("slow");
            $("#bcenter").hide("slow");
			$("#search").hide("slow");
            $("#viewform").show("slow");
        }

        function onPetitionComplete() {
            $("#results").show("slow");
        }
    </script>
}
