@using System
@using System.Linq
@using Nancy.ViewEngines.Razor.HtmlHelpers;
@using UserManagement.Api.ViewModels
@using UserManagement.Domain.Dtos
@using UserManagement.Domain.Entities
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<UserManagement.Domain.Dtos.ContractDto>
@{
    var isCreate = Model.Id == new Guid();
    var pageHeadingViewModel = new PageHeadingViewModel("Contract detail", isCreate ? "Create a new contract" : "Update existing contract");
    var method = isCreate ? "POST" : "POST";
    var url = isCreate ? "/Contracts" : "/Contracts/" + Model.Id;
}
@Html.Partial("Shared/PageHeading", pageHeadingViewModel)

<div class="box dark">
    <header>
        <div class="icons">
            <i class="fa fa-edit"></i>
        </div>
        <h5>Input Text Fields</h5>
        <div class="toolbar">
            <nav style="padding: 8px;">
                <a class="btn btn-default btn-xs collapse-box" href="javascript:;">
                    <i class="fa fa-minus"></i>
                </a>
                @*<a class="btn btn-default btn-xs full-box" href="javascript:;">
                    <i class="fa fa-expand"></i>
                </a>
                <a class="btn btn-danger btn-xs close-box" href="javascript:;">
                    <i class="fa fa-times"></i>
                </a>*@
            </nav>
        </div>
    </header>
    <div class="body collapse in" id="div-1" aria-expanded="true" style="">
        <form action="@url" method="@method" class="form-horizontal">
            <div class="form-group">
                @*@Html.LabelFor(x => x.Name, new { @class = "control-label col-lg-4" })*@
                <label class="control-label col-lg-4">Name</label>
                <div class="col-lg-3">
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(x => x.Description, new { @class = "control-label col-lg-4" })*@
                <label class="control-label col-lg-4">Description</label>
                <div class="col-lg-3">
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(x => x.CommencementDate, new { @class = "control-label col-lg-4" })*@
                <label class="control-label col-lg-4">Commencement Date</label>
                <div class="col-lg-3">
                    <div class="input-group date">
                        @*@Html.TextBoxFor(x => x.CommencementDate, new { @class = "form-control", placeholder = "" })*@
                        <input type="text" class="form-control" name="CommencementDate" readonly="true" value="@Model.CommencementDate"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(x => x.EnteredIntoBy, new { @class = "control-label col-lg-4" })*@
                <label class="control-label col-lg-4">Entered Into By</label>
                <div class="col-lg-3">
                    @Html.TextBoxFor(x => x.EnteredIntoBy, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(x => x.OnlineAcceptance, new { @class = "control-label col-lg-4" })*@
                <label class="control-label col-lg-4">Online Acceptance</label>
                <div class="col-lg-3">
                    <div class="input-group date">
                        @*@Html.TextBoxFor(x => x.CommencementDate, new { @class = "form-control", placeholder = "" })*@
                        <input type="text" class="form-control" name="OnlineAcceptance" readonly="true" value="@Model.OnlineAcceptance"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(x => x.RegisteredName, new { @class = "control-label col-lg-4" })*@
                <label class="control-label col-lg-4">Registered Name</label>
                <div class="col-lg-3">
                    @Html.TextBoxFor(x => x.RegisteredName, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(x => x.RegistrationNumber, new { @class = "control-label col-lg-4" })*@
                <label class="control-label col-lg-4">Registration Number</label>
                <div class="col-lg-3">
                    @Html.TextBoxFor(x => x.RegistrationNumber, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(x => x.ContractTypeId, new { @class = "control-label col-lg-4" })*@
                <label class="control-label col-lg-4">Contract Type</label>
                <div class="col-lg-3">
                    <select name="ContractTypeId" data-placeholder="User Type..." class="chosen-select">
                        <option value=""></option>
                        @foreach (SelectListItem item in ViewBag.ContractTypes.Value)
                        {
                            var isSelected = item.Value == Model.ContractTypeId.ToString();
                            <option selected="@isSelected" value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(x => x.EscalationTypeId, new { @class = "control-label col-lg-4" })*@
                <label class="control-label col-lg-4">Escalation Type</label>
                <div class="col-lg-3">
                    <select name="EscalationTypeId" data-placeholder="User Type..." class="chosen-select">
                        <option value=""></option>
                        @foreach (SelectListItem item in ViewBag.EscalationTypes.Value)
                        {
                            var isSelected = item.Value == Model.EscalationTypeId.ToString();
                            <option selected="@isSelected" value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(x => x.ContractDurationId, new { @class = "control-label col-lg-4" })*@
                <label class="control-label col-lg-4">Contrac Duration</label>
                <div class="col-lg-3">
                    <select name="ContractDurationId" data-placeholder="User Type..." class="chosen-select">
                        <option value=""></option>
                        @foreach (SelectListItem item in ViewBag.ContractDurations.Value)
                        {
                            var isSelected = item.Value == Model.ContractDurationId.ToString();
                            <option selected="@isSelected" value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(x => x.ClientIds, new { @class = "control-label col-lg-4" })*@
                <label class="control-label col-lg-4">Clients</label>
                <div class="col-lg-3 chosen-autocomplete" data-type="@typeof(Client).AssemblyQualifiedName">
                    <select id="ClientIds" name="ClientIds" data-placeholder="Role..." multiple class="chosen-select">
                        @foreach (NamedEntityDto item in Model.Clients)
                        {
                            var isSelected = Model.Clients != null && Model.Clients.Select(x => x.Id).Contains(item.Id);
                            <option selected="@isSelected" value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(x => x.CustomerIds, new { @class = "control-label col-lg-4" })*@
                <label class="control-label col-lg-4">Customers</label>
                <div class="col-lg-3 chosen-autocomplete" data-type="@typeof(Customer).AssemblyQualifiedName">
                    <select id="CustomerIds" name="CustomerIds" data-placeholder="Role..." multiple class="chosen-select">
                        @foreach (NamedEntityDto item in Model.Customers)
                        {
                            var isSelected = Model.Customers != null && Model.Customers.Select(x => x.Id).Contains(item.Id);
                            <option selected="@isSelected" value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(x => x.PackageIdNames, new { @class = "control-label col-lg-4" })*@
                <label class="control-label col-lg-4">Packages</label>
                <div class="col-lg-3 chosen-autocomplete-packages" data-type="@typeof(Customer).AssemblyQualifiedName">
                    <select id="PackageIdNames" name="PackageIdNames" data-placeholder="Role..." multiple class="chosen-select">
                        @foreach (var item in Model.Packages)
                        {
                            var isSelected = Model.Packages != null && Model.Packages.Select(x => x.Key).Contains(item.Key);
                            <option selected="@isSelected" value="@item.Key|@item.Value">@item.Value</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4"></div>
                <div class="col-lg-3">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            </div>
        </form>
    </div>
</div>
