@using System
@using UserManagement.Api.ViewModels
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<UserManagement.Domain.Dtos.ClientDto>
@{
    var isCreate = Model.Id == new Guid();
    var pageHeadingViewModel = new PageHeadingViewModel("Client detail", isCreate ? "Create a new client" : "Update existing client");
    var method = isCreate ? "POST" : "POST";
    var url = isCreate ? "/Clients" : "/Clients/" + Model.Id;
}
@Html.Partial("Shared/PageHeading", pageHeadingViewModel)
<form action="@url" method="@method" class="form-horizontal">
    @Html.Partial("Client", Model)
    @Html.Partial("ContactDetail", Model)
    @Html.Partial("PhysicalAddress", Model)
    @Html.Partial("PostalAddress", Model)
</form>

