@using System
@using System.Collections
@using System.Collections.Generic
@using Nancy.ViewEngines.Razor.HtmlHelpers;
@using UserManagement.Api.ViewModels
@using UserManagement.Domain.Dtos
@using UserManagement.Domain.Entities
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<UserManagement.Domain.Dtos.ClientDto>
@{
    var isCreate = Model.Id == new Guid();
    var pageHeadingViewModel = new PageHeadingViewModel("Client detail", isCreate ? "Add" : "Update");
    var method = isCreate ? "POST" : "POST";
    var url = isCreate ? "/Clients" : "/Clients/" + Model.Id;
}
@Html.Partial("Shared/PageHeading", pageHeadingViewModel)

<div class="box dark">
    <header>
        <div class="icons">
            <i class="fa fa-edit"></i>
        </div>
        <h5>Input Text Fields</h5>
        <div class="toolbar">
            <nav style="padding: 8px;">
                <a class="btn btn-default btn-xs collapse-box" href="javascript:;">
                    <i class="fa fa-minus"></i>
                </a>
                <a class="btn btn-default btn-xs full-box" href="javascript:;">
                    <i class="fa fa-expand"></i>
                </a>
                <a class="btn btn-danger btn-xs close-box" href="javascript:;">
                    <i class="fa fa-times"></i>
                </a>
            </nav>
        </div>
    </header>
    <div class="body collapse in" id="div-1" aria-expanded="true" style="">
        <form action="@url" method="@method" class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(x => x.ClientName, new { @class = "control-label col-lg-4" })
                <div class="col-lg-3">
                    @Html.TextBoxFor(x => x.ClientName, new { @class = "form-control", placeholder = "Client Name" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4"></div>
                <div class="col-lg-3">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            </div>
        </form>
    </div>
</div>

