
@using LightstoneApp.Presentation.Web.Mvc.Client.Resources

@model LightstoneApp.Presentation.Web.Mvc.Client.ViewModels.PackageDataFieldCrudViewModel

@{ 
	ViewBag.Title = "Add PackageDataField"; 
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

	<fieldset>
		<legend>PackageDataField</legend>

		<div class="newline">
			<div class="label">
				@Html.LabelFor(model => model.PackageDataField.DataFieldId):
			</div>
			<div class="field">
				@Html.DropDownListFor(model => model.PackageDataField.DataFieldId, Model.DataFields)
				@Html.ValidationMessageFor(model => model.PackageDataField.DataFieldId)
			</div>
			<div class="label">
				@Html.LabelFor(model => model.PackageDataField.PackageId):
			</div>
			<div class="field">
				@Html.DropDownListFor(model => model.PackageDataField.PackageId, Model.Packages)
				@Html.ValidationMessageFor(model => model.PackageDataField.PackageId)
			</div>
		</div>
		<div class="newline">
			<div class="label">
				@Html.LabelFor(model => model.PackageDataField.Priority):
			</div>
			<div class="field">
				@Html.EditorFor(model => model.PackageDataField.Priority)
				@Html.ValidationMessageFor(model => model.PackageDataField.Priority)
			</div>
			<div class="label">
				@Html.LabelFor(model => model.PackageDataField.Selected):
			</div>
			<div class="field">
				@Html.EditorFor(model => model.PackageDataField.Selected)
				@Html.ValidationMessageFor(model => model.PackageDataField.Selected)
			</div>
		</div>
		<div class="newline">
			<div class="label">
				@Html.LabelFor(model => model.PackageDataField.UnifiedName):
			</div>
			<div class="field">
				@Html.EditorFor(model => model.PackageDataField.UnifiedName)
				@Html.ValidationMessageFor(model => model.PackageDataField.UnifiedName)
			</div>
		</div>
		<div class="buttons">
			<p>
				<input type="submit" name="add" value="@PresentationResources.Add" />
			</p>
		</div>
	</fieldset>
}

<div>
    @Html.ActionLink(PresentationResources.GoBack, "Index", "Home")
</div>
