@using System
@using UserManagement.Api.Helpers.NancyRazorHelpers
@using UserManagement.Api.ViewModels
@using UserManagement.Domain.Dtos
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<UserManagement.Domain.Dtos.NoteDto>
<div class="modal fade note-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <form action="/notes" method="POST">
                    <input type="hidden" name="EntityId" value="@Model.EntityId" />
                    <input type="hidden" id="EntityNoteId" name="EntityNoteId" value="@Model.EntityNoteId" /> />
                    <input type="hidden" id="NoteId" name="NoteId" value="@Model.NoteId" />
                    <input type="hidden" name="AssemblyQualifiedName" value="@Model.AssemblyQualifiedName" />
                    <input type="hidden" name="RedirectPath" value="@Model.RedirectPath" />
                    <div class="col-md-8">
                        <textarea rows="4" cols="50" class="form-control" id="NoteText" name="NoteText" placeholder="Add new note">@Model.NoteText</textarea>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="modal-body">
                @if (Model.Notes != null)
                {
                    <ul class="notes-list">
                        @foreach (var note in Model.Notes)
                        {
                            <li>
                                <a data-id="@note.Id" data-note-id="@note.NoteId" data-text="@note.NoteNoteText"><b>@note.NoteNoteText</b></a>
                            </li>
                        }
                    </ul>
                }
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $('.notes-list a').click(function () {
        var $self = $(this);
        var id = $self.data('id');
        var noteId = $self.data('noteId');
        var text = $self.data('text');

        $('#NoteId').val(noteId);
        $('#EntityNoteId').val(id);
        $('#NoteText').text(text);
    })
</script>