@using System
@using System.Linq
@using UserManagement.Api.Helpers.Extensions
@using UserManagement.Api.Helpers.NancyRazorHelpers
@using UserManagement.Api.ViewModels
@using UserManagement.Domain.Dtos
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<UserManagement.Domain.Dtos.NoteDto>

<div class="modal-body">
    @if (Model.Notes != null)
    {
        <ul class="notes-list">
            @foreach (var note in Model.Notes)
            {
                <li>
                    <div class="col-md-5">
                        <a class="note-view" data-id="@note.Id" data-note-id="@note.NoteId" data-text="@note.NoteNoteText"><b>@note.NoteNoteText.FirstNCharacters(50)</b></a>
                    </div>
                    <a class="btn btn-default note-delete" href="/notes/@note.Id" title="Delete"><i class="fa fa-times"></i></a>
                    <b>@note.CreatedBy</b> 
                </li>
            }
        </ul>
    }
</div>
<script>
    $('.note-view').click(function () {
        var $self = $(this);
        var id = $self.data('id');
        var noteId = $self.data('noteId');
        var text = $self.data('text');

        $('#NoteId').val(noteId);
        $('#EntityNoteId').val(id);
        $('#NoteText').text(text);
    });

    $('.note-delete').click(function () {
        var $self = $(this);
        var url = $self.attr('href');
        $.ajax({
            url: url,
            type: 'DELETE',
            success: function (data) {
                var $modal = $(".note-modal");
                $modal.modal('hide');
                //window.location.reload();
            },
            contentType: 'html'
        });
        return false;
    });
</script>
