@*@using Nancy.ViewEngines.Razor.HtmlHelpers;*@
@using UserManagement.Api.Helpers.NancyRazorHelpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<UserManagement.Domain.Dtos.CustomerDto>

<div class="box dark">
    <header>
        <div class="icons">
            <i class="fa fa-money"></i>
        </div>
        <h5>Billing Info</h5>
        <div class="toolbar">
            <nav style="padding: 8px;">
                <a class="btn btn-default btn-xs collapse-box" href="javascript:;">
                    <i class="fa fa-minus"></i>
                </a>
            </nav>
        </div>
    </header>
    <div class="body collapse in" id="div-1" aria-expanded="true" style="">
        <div class="form-group">
            
            <label class="control-label col-lg-4">Contact Number</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon" id="basic-addon1"><b>123</b></span>
                <div aria-describedby="basic-addon1">
                    @Html.HiddenFor(x => x.BillingId)
                    @Html.TextBoxFor(x => x.BillingContactNumber, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="col-lg-6">
                @Html.ValidationMessageFor(x => x.BillingContactNumber)
            </div>

        </div>
        <div class="form-group">
            
            <label class="control-label col-lg-4">Contact Person</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.BillingContractPerson, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="col-lg-6">
                @Html.ValidationMessageFor(x => x.BillingContractPerson)
            </div>
           
        </div>
        <div class="form-group">
            
            <label class="control-label col-lg-4">Company Registration</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-file" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.BillingCompanyRegistration, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="col-lg-6">
                @Html.ValidationMessageFor(x => x.BillingCompanyRegistration)
            </div>

        </div>
        <div class="form-group">
            
            <label class="control-label col-lg-4">Debit Order Date</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-calendar" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.BillingDebitOrderDate, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="col-lg-6">
                @Html.ValidationMessageFor(x => x.BillingDebitOrderDate)
            </div>

        </div>
        <div class="form-group">
            
            <label class="control-label col-lg-4">Pastel Id</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-barcode" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.BillingPastelId, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="col-lg-6">
                @Html.ValidationMessageFor(x => x.BillingPastelId)
            </div>
           
        </div>
        <div class="form-group">
            
            <label class="control-label col-lg-4">Vat Number</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-flag" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.BillingVatNumber, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="col-lg-6">
                @Html.ValidationMessageFor(x => x.BillingVatNumber)
            </div>
            
        </div>
        <div class="form-group">
            
            <label class="control-label col-lg-4">Payment Type</label>
            <div class="input-group col-lg-2">
                <select name="BillingPaymentTypeId" data-placeholder="Choose a province..." class="chosen-select">
                    <option value=""></option>
                    @foreach (SelectListItem item in ViewBag.PaymentTypes.Value)
                    {
                        var isSelected = item.Value == Model.BillingPaymentTypeId.ToString();
                        <option selected="@isSelected" value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="col-lg-6">
                @Html.ValidationMessageFor(x => x.BillingPaymentTypeId)
            </div>
            
        </div>
        <div class="form-group">
            <div class="col-lg-4"></div>
            <div class="col-lg-3">
                <input type="submit" class="btn btn-primary" value="Save">
            </div>
        </div>
    </div>
</div>
