@*@using Nancy.ViewEngines.Razor.HtmlHelpers;*@
@using UserManagement.Api.Helpers.NancyRazorHelpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<UserManagement.Domain.Dtos.CustomerDto>

<div class="box dark">
    <header>
        <div class="icons">
            <i class="glyphicon glyphicon-book"></i>
        </div>
        <h5>Contact Info</h5>
        <div class="toolbar">
            <nav style="padding: 8px;">
                <a class="btn btn-default btn-xs collapse-box" href="javascript:;">
                    <i class="fa fa-minus"></i>
                </a>
                @*<a class="btn btn-default btn-xs full-box" href="javascript:;">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="btn btn-danger btn-xs close-box" href="javascript:;">
                        <i class="fa fa-times"></i>
                    </a>*@
            </nav>
        </div>
    </header>
    <div class="body collapse in" id="div-1" aria-expanded="true" style="">
        <div class="form-group">
            
            <label class="control-label col-lg-4">Legal Entity Name</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.HiddenFor(x => x.ContactDetailId)
                    @Html.TextBoxFor(x => x.ContactDetailLegalEntityName, new { @class = "form-control", placeholder = "" })
                </div>
            </div>

        </div>
        <div class="form-group">
            
            <label class="control-label col-lg-4">Accounts Contact Name</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.ContactDetailAccountsContactName, new { @class = "form-control", placeholder = "" })
                </div>
            </div>

        </div>
        <div class="form-group">
            
            <label class="control-label col-lg-4">Email Address</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-envelope" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.ContactDetailEmailAddress, new { @class = "form-control", placeholder = "" })
                </div>
            </div>

        </div>
        <div class="form-group">
            
            <label class="control-label col-lg-4">Telephone Number</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-earphone" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.ContactDetailTelephoneNumber, new { @class = "form-control", placeholder = "" })
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-lg-4"></div>
            <div class="col-lg-3">
                <input type="submit" class="btn btn-primary" value="Save">
            </div>
        </div>
    </div>
</div>