@using System
@using System.Linq
@using UserManagement.Api.Helpers.NancyRazorHelpers
@using UserManagement.Api.ViewModels
@*@using Nancy.ViewEngines.Razor.HtmlHelpers;*@
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<UserManagement.Domain.Dtos.CustomerDto>

<div id="customerView" class="box">
    @Html.Partial("Shared/BoxHeader", new HeaderViewModel("Customer Info", "", "fa fa-edit", Model))
    <div class="box-body">
        <div class="form-group">

            <label class="control-label col-lg-4">* Name</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="col-lg-6">
                @Html.ValidationMessageFor(x => x.Name)
            </div>

        </div>
        <div class="form-group">

            <label class="control-label col-lg-4">Customer Account Number</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.CustomerAccountNumber, new { @class = "form-control", placeholder = "", @readonly = true })
                </div>
            </div>
            <div class="col-lg-6">
            </div>

        </div>
        <div class="form-group">

            <label class="control-label col-lg-4">* Account Owner</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.AccountOwnerName, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="col-lg-6">
                @Html.ValidationMessageFor(x => x.AccountOwnerName)
            </div>

        </div>
        <div class="form-group">

            <label class="control-label col-lg-4">Create Source</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.CreateSourceValue, new { @class = "form-control", placeholder = "", @readonly = true })
                </div>
            </div>

        </div>
        <div class="form-group">

            <label class="control-label col-lg-4">* Commercial State</label>
            <div class="input-group col-lg-2">
                <select name="CommercialStateId" data-placeholder="Select commercial state" class="chosen-select">
                    <option value=""></option>
                    @foreach (SelectListItem item in ViewBag.CommercialStates.Value)
                    {
                        var isSelected = item.Value == Model.CommercialStateId.ToString();
                        <option selected="@isSelected" value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="col-lg-6">
                @Html.ValidationMessageFor(x => x.CommercialStateId)
            </div>

        </div>
        <div class="form-group">

            <label class="control-label col-lg-4">Platform Status</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.PlatformStatusValue, new { @class = "form-control", placeholder = "", @readonly = true })
                </div>
            </div>

        </div>
    </div>
    @Html.Partial("Shared/BoxFooter")
</div>