@*@using Nancy.ViewEngines.Razor.HtmlHelpers;*@
@using System.Security.Cryptography.X509Certificates
@using UserManagement.Api.Helpers.NancyRazorHelpers
@using UserManagement.Api.ViewModels
@using UserManagement.Domain.Enums
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<UserManagement.Domain.Dtos.CustomerDto>

<div class="box">
    @Html.Partial("Shared/BoxHeader", new HeaderViewModel("Physical Address", "", "glyphicon glyphicon-home", Model))
    <div class="box-body">
        @Html.HiddenFor(x => x.ContactDetailPhysicalAddressId)
        @Html.HiddenFor(x => x.ContactDetailPhysicalAddressType, new { value = AddressType.Physical })
        <div class="form-group">

            <label class="control-label col-lg-4">Line1</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.ContactDetailPhysicalAddressLine1, new { @class = "form-control", placeholder = "" })
                </div>
            </div>

        </div>
        <div class="form-group">

            <label class="control-label col-lg-4">Line2</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.ContactDetailPhysicalAddressLine2, new { @class = "form-control", placeholder = "" })
                </div>
            </div>

        </div>
        <div class="form-group">

            <label class="control-label col-lg-4">Suburb</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.ContactDetailPhysicalAddressSuburb, new { @class = "form-control", placeholder = "" })
                </div>
            </div>

        </div>
        <div class="form-group">

            <label class="control-label col-lg-4">City</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-tower" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.ContactDetailPhysicalAddressCity, new { @class = "form-control", placeholder = "" })
                </div>
            </div>

        </div>
        <div class="form-group">

            <label class="control-label col-lg-4">Country</label>
            <div class="input-group col-lg-2">
                <select name="ContactDetailPhysicalAddressCountryId" data-placeholder="Select country" class="chosen-select">
                    <option value=""></option>
                    @foreach (var item in ViewBag.Countrys.Value)
                    {
                        var isSelected = item.Value == Model.ContactDetailPhysicalAddressCountryId.ToString();
                        <option selected="@isSelected" value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">

            <label class="control-label col-lg-4">Postal Code</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-envelope" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.ContactDetailPhysicalAddressPostalCode, new { @class = "form-control", placeholder = "" })
                </div>
            </div>

        </div>
        <div class="form-group">

            <label class="control-label col-lg-4">Province</label>
            <div class="input-group col-lg-2">
                <select name="ContactDetailPhysicalAddressProvinceId" data-placeholder="Select province" class="chosen-select">
                    <option value=""></option>
                    @foreach (var item in ViewBag.Provinces.Value)
                    {
                        var isSelected = item.Value == Model.ContactDetailPhysicalAddressProvinceId.ToString();
                        <option selected="@isSelected" value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>

        </div>
    </div>
    @Html.Partial("Shared/BoxFooter")
</div>
