@*@using Nancy.ViewEngines.Razor.HtmlHelpers;*@
@using UserManagement.Api.Helpers.NancyRazorHelpers
@using UserManagement.Api.ViewModels
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<UserManagement.Domain.Dtos.CustomerDto>

<div class="box">
    @Html.Partial("Shared/BoxHeader", new HeaderViewModel("Physical Address", "", "glyphicon glyphicon-home"))
    <div class="box-body">
        <div class="form-group">

            <label class="control-label col-lg-4">Physical Address Type</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.HiddenFor(x => x.ContactDetailPhysicalAddressId)
                    @Html.TextBoxFor(x => x.ContactDetailPhysicalAddressType, new { @class = "form-control", placeholder = "" })
                </div>
            </div>

        </div>
        <div class="form-group">

            <label class="control-label col-lg-4">Physical Address Line1</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.ContactDetailPhysicalAddressLine1, new { @class = "form-control", placeholder = "" })
                </div>
            </div>

        </div>
        <div class="form-group">

            <label class="control-label col-lg-4">Physical Address Line2</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.ContactDetailPhysicalAddressLine2, new { @class = "form-control", placeholder = "" })
                </div>
            </div>

        </div>
        <div class="form-group">

            <label class="control-label col-lg-4">Physical Address Suburb</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.ContactDetailPhysicalAddressSuburb, new { @class = "form-control", placeholder = "" })
                </div>
            </div>

        </div>
        <div class="form-group">

            <label class="control-label col-lg-4">Physical Address City</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-tower" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.ContactDetailPhysicalAddressCity, new { @class = "form-control", placeholder = "" })
                </div>
            </div>

        </div>
        <div class="form-group">

            <label class="control-label col-lg-4">Physical Address Country</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-globe" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.ContactDetailPhysicalAddressCountry, new { @class = "form-control", placeholder = "" })
                </div>
            </div>

        </div>
        <div class="form-group">

            <label class="control-label col-lg-4">Physical Address Postal Code</label>
            <div class="input-group col-lg-2">
                <span class="input-group-addon glyphicon glyphicon-envelope" id="basic-addon1"></span>
                <div aria-describedby="basic-addon1">
                    @Html.TextBoxFor(x => x.ContactDetailPhysicalAddressPostalCode, new { @class = "form-control", placeholder = "" })
                </div>
            </div>

        </div>
        <div class="form-group">

            <label class="control-label col-lg-4">Physical Address Province</label>
            <div class="input-group col-lg-2">
                <select name="ContactDetailPhysicalAddressProvinceId" data-placeholder="Choose a province..." class="chosen-select">
                    <option value=""></option>
                    @foreach (SelectListItem item in ViewBag.Provinces.Value)
                    {
                        var isSelected = item.Value == Model.ContactDetailPhysicalAddressProvinceId.ToString();
                        <option selected="@isSelected" value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>

        </div>
    </div>
    @Html.Partial("Shared/BoxFooter")
</div>
