@using System
@using System.Collections
@using System.Collections.Generic
@using Nancy.ViewEngines.Razor.HtmlHelpers;
@using UserManagement.Api.ViewModels
@using UserManagement.Domain.Dtos
@using UserManagement.Domain.Entities
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<UserManagement.Domain.Dtos.CustomerDto>
@{
    var isCreate = Model.Id == new Guid();
    var pageHeadingViewModel = new PageHeadingViewModel("Customer detail", isCreate ? "Create a new customer" : "Update existing customer");
    var method = isCreate ? "POST" : "POST";
    var url = isCreate ? "/Customers" : "/Customers/" + Model.Id;
    //var url = "/Customers";
}
@Html.Partial("Shared/PageHeading", pageHeadingViewModel)

<div class="box dark">
    <header>
        <div class="icons">
            <i class="fa fa-edit"></i>
        </div>
        <h5>Input Text Fields</h5>
        <div class="toolbar">
            <nav style="padding: 8px;">
                <a class="btn btn-default btn-xs collapse-box" href="javascript:;">
                    <i class="fa fa-minus"></i>
                </a>
                <a class="btn btn-default btn-xs full-box" href="javascript:;">
                    <i class="fa fa-expand"></i>
                </a>
                <a class="btn btn-danger btn-xs close-box" href="javascript:;">
                    <i class="fa fa-times"></i>
                </a>
            </nav>
        </div>
    </header>
    <div class="body collapse in" id="div-1" aria-expanded="true" style="">
        <form action="@url" @*data-method="@method"*@ method="@method" class="form-horizontal">
            <div class="form-group">
                @*@Html.LabelFor(x => x.Name, new { @class = "control-label col-lg-4" })*@
                <label class="control-label col-lg-4">Name</label>
                <div class="col-lg-3">
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(x => x.AccountOwnerName, new { @class = "control-label col-lg-4" })*@
                <label class="control-label col-lg-4">Account Owner Name</label>
                <div class="col-lg-3">
                    @Html.TextBoxFor(x => x.AccountOwnerName, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(x => x.CommercialStateId, new { @class = "control-label col-lg-4" })*@
                <label class="control-label col-lg-4">Commercial State</label>
                <div class="col-lg-3">
                    @*@Html.DropDownListFor(x => x.ProvinceId, "", (IEnumerable<SelectListItem>)ViewBag.Provinces.Value, Model.ProvinceId, new { @class = "chosen-select", data_placeholder = "Choose a province..." })*@
                    <select name="CommercialStateId" data-placeholder="Choose a province..." class="chosen-select">
                        <option value=""></option>
                        @foreach (SelectListItem item in ViewBag.CommercialStates.Value)
                        {
                            var isSelected = item.Value == Model.CommercialStateId.ToString();
                            <option selected="@isSelected" value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(x => x.CreateSourceId, new { @class = "control-label col-lg-4" })*@
                <label class="control-label col-lg-4">Create Source</label>
                <div class="col-lg-3">
                    @*@Html.DropDownListFor(x => x.ProvinceId, "", (IEnumerable<SelectListItem>)ViewBag.Provinces.Value, Model.ProvinceId, new { @class = "chosen-select", data_placeholder = "Choose a province..." })*@
                    <select name="CreateSourceId" data-placeholder="Choose a province..." class="chosen-select">
                        <option value=""></option>
                        @foreach (SelectListItem item in ViewBag.CreateSources.Value)
                        {
                            var isSelected = item.Value == Model.CreateSourceId.ToString();
                            <option selected="@isSelected" value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(x => x.PlatformStatusId, new { @class = "control-label col-lg-4" })*@
                <label class="control-label col-lg-4">Platform Status</label>
                <div class="col-lg-3">
                    @*@Html.DropDownListFor(x => x.ProvinceId, "", (IEnumerable<SelectListItem>)ViewBag.Provinces.Value, Model.ProvinceId, new { @class = "chosen-select", data_placeholder = "Choose a province..." })*@
                    <select name="PlatformStatusId" data-placeholder="Choose a province..." class="chosen-select">
                        <option value=""></option>
                        @foreach (SelectListItem item in ViewBag.PlatformStatuss.Value)
                        {
                            var isSelected = item.Value == Model.PlatformStatusId.ToString();
                            <option selected="@isSelected" value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4"></div>
                <div class="col-lg-3">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="box dark">
    <header>
        <div class="icons">
            <i class="fa fa-edit"></i>
        </div>
        <h5>Billing info</h5>
        <div class="toolbar">
            <nav style="padding: 8px;">
                <a class="btn btn-default btn-xs collapse-box" href="javascript:;">
                    <i class="fa fa-minus"></i>
                </a>
                <a class="btn btn-default btn-xs full-box" href="javascript:;">
                    <i class="fa fa-expand"></i>
                </a>
                <a class="btn btn-danger btn-xs close-box" href="javascript:;">
                    <i class="fa fa-times"></i>
                </a>
            </nav>
        </div>
    </header>
    <div class="body collapse in" id="div-1" aria-expanded="true" style="">
        <form action="@url" data-method="@method" class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(x => x.BillingDto.ContactNumber, new { @class = "control-label col-lg-4" })
                <div class="col-lg-3">
                    @Html.TextBoxFor(x => x.BillingDto.ContactNumber, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.BillingDto.ContractPerson, new { @class = "control-label col-lg-4" })
                <div class="col-lg-3">
                    @Html.TextBoxFor(x => x.BillingDto.ContractPerson, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.BillingDto.CompanyRegistration, new { @class = "control-label col-lg-4" })
                <div class="col-lg-3">
                    @Html.TextBoxFor(x => x.BillingDto.CompanyRegistration, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.BillingDto.DebitOrderDate, new { @class = "control-label col-lg-4" })
                <div class="col-lg-3">
                    @Html.TextBoxFor(x => x.BillingDto.DebitOrderDate, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.BillingDto.PastelId, new { @class = "control-label col-lg-4" })
                <div class="col-lg-3">
                    @Html.TextBoxFor(x => x.BillingDto.PastelId, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.BillingDto.VatNumber, new { @class = "control-label col-lg-4" })
                <div class="col-lg-3">
                    @Html.TextBoxFor(x => x.BillingDto.VatNumber, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.BillingDto.PaymentTypeId, new { @class = "control-label col-lg-4" })
                <div class="col-lg-3">
                    @*@Html.DropDownListFor(x => x.ProvinceId, "", (IEnumerable<SelectListItem>)ViewBag.Provinces.Value, Model.ProvinceId, new { @class = "chosen-select", data_placeholder = "Choose a province..." })*@
                    @*<select name="BillingDto.PaymentTypeId" data-placeholder="Choose a province..." class="chosen-select">
                        <option value=""></option>
                        @foreach (SelectListItem item in ViewBag.PaymentTypes.Value)
                        {
                            var isSelected = item.Value == Model.BillingDto.PaymentTypeId.ToString();
                            <option selected="@isSelected" value="@item.Value">@item.Text</option>
                        }
                    </select>*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4"></div>
                <div class="col-lg-3">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            </div>
        </form>
    </div>
</div>

