<div class="data-provider-log" ng-app="dataProviderMonitoringApp" ng-controller="DataProviderController">
    <div id="data-provider-event-log" class="data-provider-container">
        <ul>
            <li ng-repeat="response in dataProviderMonitoring" class="" ng-class="{'hasErrorsClass':response.HasErrors, 'hasNoErrorsClass' : !response.HasErrors}">
                <h2 ng-click="Toggle($index,'log-formatted-json');">&nbsp;{{response.Metadata}}</h2>
                <div>
                    <div style="display: none;" id="toggle-{{$index}}">
                        <textarea style="display: none" id="rawJson-{{$index}}" class="rawJson">{{response.Payload}}</textarea>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="log-formatted-json" style="display: none;">
        <div>
            <img id="img-collapse-or-expand" src="../assets/images/minus.gif" alt="collapse" ng-click="CollapseOrExpand(this);"/>
        </div>
        <div class="canvas" id="canvas-display"><pre class="CodeContainer"></pre></div>
    </div>
</div>
<div style="clear: both"></div>


        @*<div id="tab-content2" class="tab-content" ng-app="dataProviderMonitoringApp">
                <div id="data-provider-event-log" class="data-provider-container" ng-controller="DataProviderController">
                    <ul>
                        <li ng-repeat="response in dataProviderMonitoring">
                            <h2>
                                <span><img src="../assets/images/plus.gif" alt="expand" ng-click="Toggle($index,this);" /></span>{{response.Metadata}}
                            </h2>

                            <div>
                                <div style="display: none;" id="toggle-{{$index}}">
                                    <div>
                                        <input type="button" ng-click="CollapseAllClicked($index)" value="Collapse"/> <input type="button" value="Expand" ng-click="ExpandAllClicked($index)">
                                    </div>
                                    <div class="canvas" id="canvas-{{$index}}"><pre class="CodeContainer"></pre></div>
                                    <textarea style="display: none" id="rawJson-{{$index}}" class="rawJson">{{response.Payload}}</textarea>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>*@

        @*<li>
                <div>
                    <div>
                        <input type="button" ng-click="CollapseAllClicked($index)" value="Collapse" /> <input type="button" value="Expand" ng-click="ExpandAllClicked($index)">
                    </div>
                    <div class="canvas" id="canvas-display"><pre class="CodeContainer"></pre></div>
                </div>
            </li>*@


        @*@{
                var count = 0;
                foreach (var response in @Model)
                {
                    count++;
                    var jsonId = "rawJson-" + count;
                    var canvasId = "canvas-" + count;
                    var toggleId = "toggle-" + count;

                    <li>
                        <h2>
                            <span><img src="../assets/images/plus.gif" alt="expand" onclick="Toggle('@toggleId', this, '@jsonId', '@canvasId'); " /></span>@response.Metadata
                        </h2>

                        <div>
                            <div style="display: none;" id="@toggleId">
                                <div>
                                    <input type="button" onclick="CollapseAllClicked('@jsonId', '@canvasId'); " value="Collapse" /> <input type="button" value="Expand" onclick="ExpandAllClicked('@jsonId', '@canvasId'); ">
                                </div>
                                <div class="canvas" id="@canvasId"><pre class="CodeContainer"></pre></div>
                                <textarea style="display: none" id="@jsonId" class="rawJson">@response.Payload</textarea>
                            </div>
                        </div>
                    </li>
                }
            }*@


