@model dynamic

<ul class="nav nav-tabs">
    <li class="active"><a href="#generic" data-toggle="tab">Generic</a></li>
    <li><a href="#specifics" data-toggle="tab">Specifics</a></li>
    <li><a href="#verification" data-toggle="tab">Verification</a></li>
    <li><a href="#interests" data-toggle="tab">Interests</a></li>
    <li><a href="#repair" data-toggle="tab">Repair</a></li>
    <li><a href="#valuation" data-toggle="tab">Valuation</a></li>
</ul>
@{
    var ividResponse = Model.ividResponse;
    var carFullname = ividResponse != null ? ividResponse.carFullname : "";
    var displacement = ividResponse != null ? ividResponse.displacement : "";
    var description = ividResponse != null ? ividResponse.description : "";
    var lifeStatusDescription = ividResponse != null ? ividResponse.lifeStatusDescription : "";
    var sapMarkDescription = ividResponse != null ? ividResponse.sapMarkDescription : "";

    var specificInformation = ividResponse.specificInformation;
    var colour = specificInformation != null ? specificInformation.colour : "";
    var registrationNumber = specificInformation != null ? specificInformation.registrationNumber : "";
    var vinNumber = specificInformation != null ? specificInformation.vinNumber : "";
    var licenseNumber = specificInformation != null ? specificInformation.licenseNumber : "";
    var engineNumber = specificInformation != null ? specificInformation.engineNumber : "";
    
    var ividTitleHolderResponse = Model.ividTitleHolderResponse;
    var yearOfLiabilityForLicensing = ividTitleHolderResponse != null ? ividTitleHolderResponse.yearOfLiabilityForLicensing : "";
    var bankName = ividTitleHolderResponse != null ? ividTitleHolderResponse.bankName : "";
}
<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="generic">
        <table class="table">
            <tr>
                <td>Intro Year</td>
                <td>@yearOfLiabilityForLicensing</td>
            </tr>
            <tr>
                <td>Model Type</td>
                <td>
                    @carFullname</td>
            </tr>
            <tr>
                <td>Engine Size (cc)</td>
                <td>@displacement</td>
            </tr>
            <tr>
                <td>Body Shape</td>
                <td>@description</td>
            </tr>
        </table>
    </div>
    <div class="tab-pane" id="specifics">
        <table class="table">
            <tr>
                <td>Colour</td>
                <td>@colour</td>
            </tr>
            <tr>
                <td>REG #</td>
                <td>@registrationNumber</td>
            </tr>
            <tr>
                <td>VIN #</td>
                <td>@vinNumber</td>
            </tr>
            <tr>
                <td>Licence #</td>
                <td>@licenseNumber</td>
            </tr>
            <tr>
                <td>Engine #</td>
                <td>@engineNumber</td>
            </tr>
            <tr>
                <td>Warranty Start Date</td>
                <td>@yearOfLiabilityForLicensing</td>
            </tr>
            <tr>
                <td>Financing bank</td>
                <td>@bankName</td>
            </tr>
        </table>
    </div>
    <div class="tab-pane" id="verification">
        <table class="table">
            <tr>
                <td>Vehicle Life Status Description</td>
                <td>@lifeStatusDescription</td>
            </tr>
            <tr>
                <td>SAPS Interest</td>
                <td>@sapMarkDescription</td>
            </tr>
        </table>
    </div>
    <div class="tab-pane" id="interests">...</div>
    <div class="tab-pane" id="repair">...</div>
    <div class="tab-pane" id="valuation">...</div>
</div>