@using LightstoneApp.Presentation.Web.Mvc.Client.Resources

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@PresentationResources.HomePage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryloc")
    @Scripts.Render("~/bundles/autonlayered")
    @RenderSection("Scripts", false)
</head>
<body>
    <header>
        <img src="~/Content/themes/base/images/logo.png" alt="@PresentationResources.Logo" />
    </header>
    <div id="login">@Html.Partial("_LoginPartial")</div>
    <div class="enter"></div>
    <div id="menu">@Html.Partial("_MenuPartial")</div>
    <section>
        <div id="loading">
            <img src="~/Content/themes/base/images/busyinfo.gif" alt="@PresentationResources.Loading" />
        </div>
        <div id="mask">@RenderBody()</div>
    </section>
    <div class="enter"></div>
    <footer>
        @PresentationResources.Powered <a href="http://www.lightstone.co.za/Portal/Solutions/Automotive-Solutions-_9">Lightstone Auto</a>
    </footer>
</body>
</html>