@using LightstoneApp.Presentation.Web.Mvc.Client.Resources

<script>
    $(document).on("click", "nav ul li a", function () {
        $("#loading").fadeIn();
        $("#mask").hide();
    });
</script>

<nav>
    <ul>
        <li class="menuborderbottom"></li>
        <li>@Html.ActionLink(PresentationResources.Index, "Index", "Home")</li>
        <li class="menubordertop"></li>
        <li class="menuborderbottom"></li>
        <li>
            @Html.Label("DataField")
            <ul>
				<li>@Html.ActionLink(PresentationResources.Find, "Find", "DataField")</li>
                <li>@Html.ActionLink(PresentationResources.Add, "Add", "DataField")</li>
            </ul>
        </li>
        <li class="menubordertop"></li>
        <li class="menuborderbottom"></li>
        <li>
            @Html.Label("DataProvider")
            <ul>
				<li>@Html.ActionLink(PresentationResources.Find, "Find", "DataProvider")</li>
                <li>@Html.ActionLink(PresentationResources.Add, "Add", "DataProvider")</li>
            </ul>
        </li>
        <li class="menubordertop"></li>
        <li class="menuborderbottom"></li>
        <li>
            @Html.Label("Industry")
            <ul>
				<li>@Html.ActionLink(PresentationResources.Find, "Find", "Industry")</li>
                <li>@Html.ActionLink(PresentationResources.Add, "Add", "Industry")</li>
            </ul>
        </li>
        <li class="menubordertop"></li>
        <li class="menuborderbottom"></li>
        <li>
            @Html.Label("Package")
            <ul>
				<li>@Html.ActionLink(PresentationResources.Find, "Find", "Package")</li>
                <li>@Html.ActionLink(PresentationResources.Add, "Add", "Package")</li>
            </ul>
        </li>
        <li class="menubordertop"></li>
        <li class="menuborderbottom"></li>
        <li>
            @Html.Label("PackageDataField")
            <ul>
				<li>@Html.ActionLink(PresentationResources.Find, "Find", "PackageDataField")</li>
                <li>@Html.ActionLink(PresentationResources.Add, "Add", "PackageDataField")</li>
            </ul>
        </li>
        <li class="menubordertop"></li>
        <li class="menuborderbottom"></li>
        <li>
            @Html.Label("State")
            <ul>
				<li>@Html.ActionLink(PresentationResources.Find, "Find", "State")</li>
                <li>@Html.ActionLink(PresentationResources.Add, "Add", "State")</li>
            </ul>
        </li>
        <li class="menubordertop"></li>
        <li class="menuborderbottom"></li>
        <li>@Html.ActionLink(PresentationResources.Contact, "Contact", "Home")</li>
        <li class="menubordertop"></li>
    </ul>
</nav>
