@using System
@using System.Linq
@using UserManagement.Api.Helpers.NancyRazorHelpers
@using UserManagement.Api.ViewModels
@using UserManagement.Domain.Dtos
@using UserManagement.Domain.Entities
@using UserManagement.Domain.Enums
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<UserManagement.Domain.Dtos.UserDto>
@{
    var isCreate = Model.Id == new Guid();
    var pageHeadingViewModel = new HeaderViewModel("User detail", isCreate ? "Create a new user" : "Update existing user");
    var method = isCreate ? "POST" : "PUT";
    var url = isCreate ? "/Users" : "/Users/" + Model.Id;
    var count = 0;
    var userTypeCheck = "";
}
@Html.Partial("Shared/PageHeader", pageHeadingViewModel)

@if (isCreate)
{
    <p>* Denotes required fields, please ensure that all required fields are filled in.</p>
}

@Html.ValidationSummary("Validation Results")

<div class="box">
    @Html.Partial("Shared/BoxHeader", new HeaderViewModel("User Info", "", "glyphicon glyphicon-user", Model))

    <form action="@url" method="@method" class="form-horizontal">
        @Html.HiddenFor(x => x.Created)
        @Html.HiddenFor(x => x.CreatedBy)
        @Html.HiddenFor(x => x.IsActive)

        <div class="box-body">

            <div class="form-group">

                <label class="control-label col-lg-4">* Name</label>
                <div class="input-group col-lg-2">
                    <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
                    <div aria-describedby="basic-addon1">
                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "" })
                    </div>
                </div>
                <div class="col-lg-6">
                    @Html.ValidationMessageFor(x => x.FirstName)
                </div>

            </div>
            <div class="form-group">

                <label class="control-label col-lg-4">* Surname</label>
                <div class="input-group col-lg-2">
                    <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
                    <div aria-describedby="basic-addon1">
                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "" })
                    </div>
                </div>
                <div class="col-lg-6">
                    @Html.ValidationMessageFor(x => x.LastName)
                </div>

            </div>
            <div class="form-group">

                <label class="control-label col-lg-4">ID Number</label>
                <div class="input-group col-lg-2">
                    <span class="input-group-addon glyphicon glyphicon-barcode" id="basic-addon1"></span>
                    <div aria-describedby="basic-addon1">
                        @Html.TextBoxFor(x => x.IdNumber, new { @class = "form-control", placeholder = "" })
                    </div>
                </div>
                <div class="col-lg-6">
                    @Html.ValidationMessageFor(x => x.IdNumber)
                </div>

            </div>
            <div class="form-group">

                <label class="control-label col-lg-4">* Contact Number</label>
                <div class="input-group col-lg-2">
                    <span class="input-group-addon glyphicon glyphicon-book" id="basic-addon1"></span>
                    <div aria-describedby="basic-addon1">
                        @Html.TextBoxFor(x => x.ContactNumber, new { @class = "form-control", placeholder = "" })
                    </div>
                </div>
                <div class="col-lg-6">
                    @Html.ValidationMessageFor(x => x.ContactNumber)
                </div>

            </div>
            <div class="form-group">

                <label class="control-label col-lg-4">* Username</label>
                <div class="input-group col-lg-2">
                    <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
                    <div aria-describedby="basic-addon1">
                        @if (isCreate)
                        {
                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = "" })
                        }
                        @if (!isCreate)
                        {
                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = "", @readonly = "readonly" })
                        }
                    </div>
                </div>
                <div class="col-lg-6">
                    @Html.ValidationMessageFor(x => x.UserName)
                </div>

            </div>
            <div class="form-group">

                <label class="control-label col-lg-4">* Password</label>
                <div class="input-group col-lg-2">
                    <span class="input-group-addon glyphicon glyphicon-certificate" id="basic-addon1"></span>
                    <div aria-describedby="basic-addon1">
                        @*@Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "" })*@
                        <input type="password" class="form-control" name="password" value="@Model.Password">
                    </div>
                </div>
                <div class="col-lg-6">
                    @Html.ValidationMessageFor(x => x.Password)
                </div>

            </div>
            <div class="form-group">

                <label class="control-label col-lg-4">User Type</label>
                <div class="input-group col-lg-2">
                    <select id="userTypeSelect" name="UserType" data-placeholder="Select user type" class="chosen-select">
                        <option value=""></option>
                        @foreach (var item in Enum.GetValues(typeof(UserType)))
                        {
                            var isSelected = item.ToString() == Model.UserType.ToString();
                            <option selected="@isSelected" value="@item">@item</option>
                        }
                    </select>
                </div>
                <div class="col-lg-6">
                    @*@Html.ValidationMessageFor(x => x.UserTypeId)*@
                </div>

            </div>
            <div class="form-group">

                <label class="control-label col-lg-4">Roles</label>
                <div id="roles" class="input-group col-lg-2">
                    <select id="rolesSelect" name="RoleIds" data-placeholder="Select roles" multiple class="chosen-select"></select>
                </div>
                <div class="col-lg-6">
                    @Html.ValidationMessageFor(x => x.RoleIds)
                </div>

            </div>
            <div class="form-group">

                <label class="control-label col-lg-4">Customers</label>
                <div class="input-group col-lg-2 entity-autocomplete" data-url="/NamedEntities" data-type="@typeof(Customer).AssemblyQualifiedName">
                    <select id="CustomerIds" name="CustomerIds" data-placeholder="Type to search & add customers" multiple class="chosen-select">
                        @foreach (NamedEntityDto item in Model.Customers)
                        {
                            var isSelected = Model.Customers != null && Model.Customers.Select(x => x.Id).Contains(item.Id);
                            <option selected="@isSelected" value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-lg-6">
                    @Html.ValidationMessageFor(x => x.CustomerIds)
                </div>

            </div>
            <div class="form-group">

                <label class="control-label col-lg-4">Clients</label>
                <div class="input-group col-lg-2 auto-list-complete user-alias" data-type="@typeof(Client).AssemblyQualifiedName">
                    <input id="ClientIds" class="form-control" type="text" placeholder="Type to search & add clients" />
                    <div class="list-group">
                        @foreach (var cu in Model.ClientUsers)
                        {
                            <div class="list-group-item">
                                <div class="pull-left">
                                    <a class="btn btn-danger btn-xs close-box">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                                <input type="hidden" id="@cu.ClientId" name="ClientId[@count]" value="@cu.ClientId" />
                                <label>@cu.ClientName</label>
                                <input type="text" class="form-control" name="UserAlias[@count]" value="@cu.UserAlias" placeholder="User alias" />
                            </div>
                            count++;
                        }
                    </div>
                </div>
                <div class="col-lg-6">
                    @Html.ValidationMessageFor(x => x.ClientUsers)
                </div>

            </div>
        </div>
        @Html.Partial("Shared/BoxFooter")
    </form>
</div>

<script>

    var externalRoles = [];
    var internalRoles = [];
    var roleIds = [];
    var selectedRoles = [];

    @if (!isCreate) 
    {
        foreach (var roleId in Model.RoleIds)
        {
            @:roleIds.push('@roleId');

            foreach (var viewBagRole in ViewBag.Roles)
            {
                if (viewBagRole.Value == roleId.ToString() && Model.UserType == UserType.Internal.ToString())
                {
                    @:selectedRoles.push({ 'label': '@viewBagRole.Text', 'value': '@viewBagRole.Value', 'type': 'Internal' });
                }
                if (viewBagRole.Value == roleId.ToString() && Model.UserType == UserType.External.ToString())
                {
                    @:selectedRoles.push({ 'label': '@viewBagRole.Text', 'value': '@viewBagRole.Value', 'type': 'External' });
                }
            }
        }
    }

    @foreach (var userItem in Enum.GetValues(typeof(UserType)))
    {
        foreach (SelectListItem roleItem in ViewBag.Roles.Value)
        {

            if (userItem.ToString() == UserType.External.ToString() && (roleItem.Text == "Owner" || roleItem.Text == "SuperUser" || roleItem.Text == "User"))
            {
                @:externalRoles.push({ 'label': '@roleItem.Text', 'value': '@roleItem.Value', 'type': 'External' });
            }

            if (userItem.ToString() == UserType.Internal.ToString() && (roleItem.Text == "Admin" || roleItem.Text == "AccountManager" || roleItem.Text == "ProductManager" || roleItem.Text == "Support"))
            {
                @:internalRoles.push({ 'label': '@roleItem.Text', 'value': '@roleItem.Value', 'type': 'Internal' });
            }
        }
    }

    $(function () {

        $('#rolesSelect').empty();
        if ($('#userTypeSelect option:selected').text() == 'Internal') {

            if (selectedRoles.length > 0) {

                for (var intRole in selectedRoles) {

                    if (selectedRoles[intRole].type == 'Internal')
                        $('#rolesSelect').append($('<option>', { value: selectedRoles[intRole].value, text: selectedRoles[intRole].label, selected: true }));

                    $("#rolesSelect").trigger("chosen:updated");
                }

                for (var interRole in internalRoles) {

                    if ($('#rolesSelect').find('option[value="' + internalRoles[interRole].value + '"]').length == 0) {

                        $('#rolesSelect').append($('<option>', { value: internalRoles[interRole].value, text: internalRoles[interRole].label }));
                    }
                    $("#rolesSelect").trigger("chosen:updated");
                }
                return;
            }

            for (var internalRole in internalRoles) {
                $('#rolesSelect').append($('<option>', { value: internalRoles[internalRole].value, text: internalRoles[internalRole].label }));
            }

        }

        if ($('#userTypeSelect option:selected').text() == 'External') {

            if (selectedRoles.length > 0) {

                for (var extRole in selectedRoles) {

                    if (selectedRoles[extRole].type == 'External')
                        $('#rolesSelect').append($('<option>', { value: selectedRoles[extRole].value, text: selectedRoles[extRole].label, selected: true }));

                    $("#rolesSelect").trigger("chosen:updated");
                }

                for (var exterRole in externalRoles) {

                    if ($('#rolesSelect').find('option[value="' + externalRoles[exterRole].value + '"]').length == 0) {

                        $('#rolesSelect').append($('<option>', { value: externalRoles[exterRole].value, text: externalRoles[exterRole].label }));
                    }
                    $("#rolesSelect").trigger("chosen:updated");
                }
                return;
            }

            for (var externalRole in externalRoles) {
                $('#rolesSelect').append($('<option>', { value: externalRoles[externalRole].value, text: externalRoles[externalRole].label }));
            }

        }

        $("#rolesSelect").trigger("chosen:updated");

    });

    $('#userTypeSelect').on("change", function () {

        $('#rolesSelect').empty();

        if ($('#userTypeSelect option:selected').text() == 'Internal') {

            if (selectedRoles.length > 0) {

                for (var intRole in selectedRoles) {

                    if (selectedRoles[intRole].type == 'Internal')
                        $('#rolesSelect').append($('<option>', { value: selectedRoles[intRole].value, text: selectedRoles[intRole].label, selected: true }));

                    $("#rolesSelect").trigger("chosen:updated");
                }

                for (var interRole in internalRoles) {

                    if ($('#rolesSelect').find('option[value="' + internalRoles[interRole].value + '"]').length == 0) {

                        $('#rolesSelect').append($('<option>', { value: internalRoles[interRole].value, text: internalRoles[interRole].label }));
                    }
                    $("#rolesSelect").trigger("chosen:updated");
                }
                return;
            }

            for (var internalRole in internalRoles) {
                $('#rolesSelect').append($('<option>', { value: internalRoles[internalRole].value, text: internalRoles[internalRole].label }));
            }

        }

        if ($('#userTypeSelect option:selected').text() == 'External') {

            if (selectedRoles.length > 0) {

                for (var extRole in selectedRoles) {

                    if (selectedRoles[extRole].type == 'External')
                        $('#rolesSelect').append($('<option>', { value: selectedRoles[extRole].value, text: selectedRoles[extRole].label, selected: true }));

                    $("#rolesSelect").trigger("chosen:updated");
                }

                for (var exterRole in externalRoles) {

                    if ($('#rolesSelect').find('option[value="' + externalRoles[exterRole].value + '"]').length == 0) {

                        $('#rolesSelect').append($('<option>', { value: externalRoles[exterRole].value, text: externalRoles[exterRole].label }));
                    }
                    $("#rolesSelect").trigger("chosen:updated");
                }
                return;
            }

            for (var externalRole in externalRoles) {
                $('#rolesSelect').append($('<option>', { value: externalRoles[externalRole].value, text: externalRoles[externalRole].label }));
            }

        }

        $("#rolesSelect").trigger("chosen:updated");
    });

</script>
