@using System
@using System.Linq
@*@using Nancy.ViewEngines.Razor.HtmlHelpers;*@
@using DataPlatform.Shared.Repositories
@using UserManagement.Api.Helpers.NancyRazorHelpers
@using UserManagement.Api.ViewModels
@using UserManagement.Domain.Dtos
@using UserManagement.Domain.Entities
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<UserManagement.Domain.Dtos.UserDto>
@{
    var isCreate = Model.Id == new Guid();
    var pageHeadingViewModel = new HeaderViewModel("User detail", isCreate ? "Create a new user" : "Update existing user");
    var method = isCreate ? "POST" : "PUT";
    var url = isCreate ? "/Users" : "/Users/" + Model.Id;
    var count = 0;
    var userTypeCheck = "";
}
@Html.Partial("Shared/PageHeader", pageHeadingViewModel)


<script>

    var externalRoles = [];
    var internalRoles = [];
    var roleIds = [];
    var selectedRoles = [];

    @*@if (Model.RoleIds.Any()) { 
        
        foreach (var roleId in Model.RoleIds)
        {
            @:roleIds.push('@roleId');

            if (ViewBag.Roles.Value == roleId)
            {
                foreach (var rolesItem in ViewBag.Roles)
                {

                    @:selectedRoles.push({ 'label': '@rolesItem.Text', 'value': '@rolesItem.Value', 'type': 'user' });
                  
                }
            }
        }
        
        //@:$(document).onload() { $('#rolesSelect').append($('<option>', { value: internalRoles[role].value, text: internalRoles[role].label })); }
    }*@

    @foreach (SelectListItem userItem in ViewBag.UserTypes.Value)
    {
        foreach (SelectListItem roleItem in ViewBag.Roles.Value)
        {

            if (userItem.Text == "External" && (roleItem.Text == "Owner" || roleItem.Text == "SuperUser" || roleItem.Text == "User"))
            {
                @:externalRoles.push({ 'label': '@roleItem.Text', 'value': '@roleItem.Value', 'type': 'user' });
                    }

            if (userItem.Text == "Internal" && (roleItem.Text == "Admin" || roleItem.Text == "AccountManager" || roleItem.Text == "ProductManager" || roleItem.Text == "Support"))
            {
                @:internalRoles.push({ 'label': '@roleItem.Text', 'value': '@roleItem.Value', 'type': 'internal' });
                    }
        }
    }

    $('#userTypeSelect').on("change", function () {

        $('#rolesSelect').empty();
        if ($('#userTypeSelect option:selected').text() == 'Internal') {
            for (var role in internalRoles) {
                $('#rolesSelect').append($('<option>', { value: internalRoles[role].value, text: internalRoles[role].label }));
            }
            $("#rolesSelect").trigger("chosen:updated");
        }
        if ($('#userTypeSelect option:selected').text() == 'External') {
            for (var role in externalRoles) {
                $('#rolesSelect').append($('<option>', { value: externalRoles[role].value, text: externalRoles[role].label }));
            }
            $("#rolesSelect").trigger("chosen:updated");
        }
    });

</script>

@Html.ValidationSummary("Validation Results")

<div class="box">


    @Html.Partial("Shared/BoxHeader", new HeaderViewModel("User Info", "", "glyphicon glyphicon-user", Model))
   
    <form action="@url" method="@method" class="form-horizontal">
        
        <div class="box-body">

            <div class="form-group">

                <label class="control-label col-lg-4">Name</label>
                <div class="input-group col-lg-2">
                    <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
                    <div aria-describedby="basic-addon1">
                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "" })
                    </div>
                </div>
                <div class="col-lg-6">
                    @Html.ValidationMessageFor(x => x.FirstName)
                </div>

            </div>
            <div class="form-group">

                <label class="control-label col-lg-4">Surname</label>
                <div class="input-group col-lg-2">
                    <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
                    <div aria-describedby="basic-addon1">
                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "" })
                    </div>
                </div>
                <div class="col-lg-6">
                    @Html.ValidationMessageFor(x => x.LastName)
                </div>

            </div>
            <div class="form-group">

                <label class="control-label col-lg-4">ID Number</label>
                <div class="input-group col-lg-2">
                    <span class="input-group-addon glyphicon glyphicon-barcode" id="basic-addon1"></span>
                    <div aria-describedby="basic-addon1">
                        @Html.TextBoxFor(x => x.IdNumber, new { @class = "form-control", placeholder = "" })
                    </div>
                </div>
                <div class="col-lg-6">
                    @Html.ValidationMessageFor(x => x.IdNumber)
                </div>

            </div>
            <div class="form-group">

                <label class="control-label col-lg-4">Contact Number</label>
                <div class="input-group col-lg-2">
                    <span class="input-group-addon glyphicon glyphicon-book" id="basic-addon1"></span>
                    <div aria-describedby="basic-addon1">
                        @Html.TextBoxFor(x => x.ContactNumber, new { @class = "form-control", placeholder = "" })
                    </div>
                </div>
                <div class="col-lg-6">
                    @Html.ValidationMessageFor(x => x.ContactNumber)
                </div>

            </div>
            <div class="form-group">

                <label class="control-label col-lg-4">Username</label>
                <div class="input-group col-lg-2">
                    <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon1"></span>
                    <div aria-describedby="basic-addon1">
                        @if (isCreate)
                        {
                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = "" })
                        }
                        @if (!isCreate)
                        {
                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = "", @readonly = "readonly" })
                        }
                    </div>
                </div>
                <div class="col-lg-6">
                    @Html.ValidationMessageFor(x => x.UserName)
                </div>

            </div>
            <div class="form-group">

                <label class="control-label col-lg-4">Password</label>
                <div class="input-group col-lg-2">
                    <span class="input-group-addon glyphicon glyphicon-certificate" id="basic-addon1"></span>
                    <div aria-describedby="basic-addon1">
                        @*@Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "" })*@
                        <input type="password" class="form-control" name="password" value="@Model.Password">
                    </div>
                </div>
                <div class="col-lg-6">
                    @Html.ValidationMessageFor(x => x.Password)
                </div>

            </div>
            <div class="form-group">

                <label class="control-label col-lg-4">User Type</label>
                <div class="input-group col-lg-2">
                    <select id="userTypeSelect" name="UserTypeId" data-placeholder="Select user type" class="chosen-select">
                        <option value=""></option>
                        @foreach (SelectListItem item in ViewBag.UserTypes.Value)
                        {
                            var isSelected = item.Value == Model.UserTypeId.ToString();
                            <option selected="@isSelected" value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
                <div class="col-lg-6">
                    @Html.ValidationMessageFor(x => x.UserTypeId)  
                </div>

            </div>
            <div class="form-group">

                <label class="control-label col-lg-4">Roles</label>
                <div id="roles" class="input-group col-lg-2">
                    <select id="rolesSelect" name="RoleIds" data-placeholder="Select roles" multiple class="chosen-select">
                    </select>
                </div>
                <div class="col-lg-6">
                    @Html.ValidationMessageFor(x => x.RoleIds)
                </div>

            </div>
            <div class="form-group">

                <label class="control-label col-lg-4">Customers</label>
                <div class="input-group col-lg-2 entity-autocomplete" data-url="/NamedEntities" data-type="@typeof(Customer).AssemblyQualifiedName">
                    <select id="CustomerIds" name="CustomerIds" data-placeholder="Type to search & add customers" multiple class="chosen-select">
                        @foreach (NamedEntityDto item in Model.Customers)
                        {
                            var isSelected = Model.Customers != null && Model.Customers.Select(x => x.Id).Contains(item.Id);
                            <option selected="@isSelected" value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-lg-6">
                    @Html.ValidationMessageFor(x => x.CustomerIds)
                </div>

            </div>
            <div class="form-group">

                <label class="control-label col-lg-4">Clients</label>
                <div class="input-group col-lg-2 auto-list-complete user-alias" data-type="@typeof(Client).AssemblyQualifiedName">
                    <input id="ClientIds" class="form-control" type="text" placeholder="Type to search & add clients" />
                    <div class="list-group">
                        @foreach (var cu in Model.ClientUsers)
                        {
                            <div class="list-group-item">
                                <div class="pull-left">
                                    <a class="btn btn-danger btn-xs close-box" href="javascript:;">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                                <input type="hidden" id="@cu.ClientId" name="ClientId[@count]" value="@cu.ClientId" />
                                <label>@cu.ClientName</label>
                                <input type="text" class="form-control" name="UserAlias[@count]" value="@cu.UserAlias" placeholder="User alias" />
                            </div>
                            count++;
                        }
                    </div>
                </div>
                <div class="col-lg-6">
                    @Html.ValidationMessageFor(x => x.ClientUsers)
                </div>

            </div>
        </div>
        @Html.Partial("Shared/BoxFooter")
    </form>
</div>
