<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Monitoring</title>
    @RenderSection("Header", false)
</head>
<body>
<div id="body">
    @RenderBody()
</div>
<div id="footer">@RenderSection("Footer", false)</div>
<div id="optional">@RenderSection("Optional", false)</div>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>*@
    
<div id="scripts">@RenderSection("Scripts", false)</div>

</body>
</html>
