@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.IEnumerable<Monitoring.Dashboard.UI.Core.Models.MonitoringResponse>>
@{
    Layout = "_Layout.cshtml";
}
@section Header
{
    <link type="text/css" rel="stylesheet" href="~/assets/css/json_formatter.css">
    <link type="text/css" rel="stylesheet" href="~/assets/css/monitoring_data_providers.css" />
}
<h1>Monitoring<span>Event Log for Data Providers</span></h1>
<ul class="tabs">
    <li>
        <input type="radio" name="tabs" id="tab1" checked />
        <label for="tab1">Summary</label>
        <div id="tab-content1" class="tab-content">
            <p></p>
        </div>
    </li>
    <li>
        <input type="radio" name="tabs" id="tab2" />
        <label for="tab2">Log</label>
        <div id="tab-content2" class="tab-content">
            <div class="data-provider-container">
                <ul>
                    @{
                        var count = 0;
                        foreach (var response in @Model)
                        {
                            count++;
                            var jsonId = "rawJson-" + count;
                            var canvasId = "canvas-" + count;
                            var toggleId = "toggle-" + count;

                            <li>
                                <h2>
                                    <span><img src="../assets/images/plus.gif" alt="expand" onclick="Toggle('@toggleId', this, '@jsonId', '@canvasId'); " /></span>@response.Metadata
                                </h2>

                                <div>
                                    <div style="display: none;" id="@toggleId">
                                        <div>
                                            <input type="button" onclick="CollapseAllClicked('@jsonId', '@canvasId'); " value="Collapse"/> <input type="button" value="Expand" onclick="ExpandAllClicked('@jsonId', '@canvasId'); ">
                                        </div>
                                        <div class="canvas" id="@canvasId"><pre class="CodeContainer"></pre></div>
                                        <textarea style="display: none" id="@jsonId" class="rawJson">@response.Payload</textarea>
                                    </div>
                                </div>
                            </li>
                        }
                    }

                </ul>
            </div>
        </div>
    </li>
</ul>

@section Scripts
{
    <script type="text/javascript" charset="utf-8" src="~/assets/js/json-formatter.js"></script>
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/jquery.signalR-2.0.0.min.js"></script>
    <script src="http://dev.lightstone.monitoring/signalr/hubs"></script>
    <script type="text/javascript">
        var hub = $.connection.dataProviderHub;

        hub.client.dataProviderMonitoringInfo = function() {
            console.log("receiving monitoring information");
        }

        $.connection.hub.start();
    </script>
}
