@using LightstoneApp.Presentation.Web.Mvc.Client.Resources

@model LightstoneApp.Presentation.Web.Mvc.Client.ViewModels.IndustryFindViewModel

@{ 
	ViewBag.Title = "Find Industry"; 
}

<h2>@ViewBag.Title</h2>
@using (Ajax.BeginForm(new AjaxOptions { LoadingElementDuration = 400, LoadingElementId = "busyinfo", UpdateTargetId = "results", OnBegin = "onPetitionBegin", OnComplete = "onPetitionComplete" }))
{
	@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

	<fieldset>
		<legend>Industry</legend>

		<div id="search">
			<div class="newline">
				<div class="label">
					@Html.LabelFor(model => model.Industry.Id):
				</div>
				<div class="field">
					@Html.EditorFor(model => model.Industry.Id)
					@Html.ValidationMessageFor(model => model.Industry.Id)
				</div>
				<div class="label">
					@Html.LabelFor(model => model.Industry.Value):
				</div>
				<div class="field">
					@Html.EditorFor(model => model.Industry.Value)
					@Html.ValidationMessageFor(model => model.Industry.Value)
				</div>
			</div>
			<div class="buttons">
				<p>
					<input type="reset" name="reset" value="@PresentationResources.Reset" />
					<input type="submit" name="find" value="@PresentationResources.Find" />
				</p>
			</div>
		</div>
		<div id="viewform">[@PresentationResources.ViewForm]</div>
		<div id="busyinfo">
			<img src="~/Content/themes/base/images/busyinfo.gif" alt="@PresentationResources.Loading" />
		</div>
		@{ Html.RenderPartial("_IndustryFindPartialView"); }
	</fieldset>
}

<div>
	@Html.ActionLink(PresentationResources.GoBack, "Index", "Home")
</div>

@section Scripts 
{
    <script>
        $(document).on("click", "#viewform", function () {
            $("#bcenter").show("slow");
			$("#search").show("slow");
            $("#viewform").hide("slow");
        });

        function onPetitionBegin() {
            $("#results").hide("slow");
            $("#bcenter").hide("slow");
			$("#search").hide("slow");
            $("#viewform").show("slow");
        }

        function onPetitionComplete() {
            $("#results").show("slow");
        }
    </script>
}
