
@using LightstoneApp.Presentation.Web.Mvc.Client.Resources

@model LightstoneApp.Presentation.Web.Mvc.Client.ViewModels.IndustryCrudViewModel

@{ 
	ViewBag.Title = "Add Industry"; 
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

	<fieldset>
		<legend>Industry</legend>

		<div class="newline">
			<div class="label">
				@Html.LabelFor(model => model.Industry.Value):
			</div>
			<div class="field">
				@Html.EditorFor(model => model.Industry.Value)
				@Html.ValidationMessageFor(model => model.Industry.Value)
			</div>
		</div>
		<div class="buttons">
			<p>
				<input type="submit" name="add" value="@PresentationResources.Add" />
			</p>
		</div>
	</fieldset>
}

<div>
    @Html.ActionLink(PresentationResources.GoBack, "Index", "Home")
</div>
