@using LightstoneApp.Presentation.Web.Mvc.Client.Resources

@model LightstoneApp.Presentation.Web.Mvc.Client.ViewModels.IndustryCrudViewModel

@{ 
	ViewBag.Title = "Remove Industry"; 
	}

<h2>@ViewBag.Title</h2>

<h3>@Html.Label(PresentationResources.DeleteSure)</h3>
@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

	<fieldset>
		<legend>Industry</legend>

			@Html.HiddenFor(model => model.Industry.Id)

		<div class="newline">
			<div class="label">
				@Html.DisplayNameFor(model => model.Industry.Value):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Industry.Value)
			</div>
		</div>
		<div class="buttons">
			<p>
				<input type="submit" name="remove" value="@PresentationResources.Remove" />
			</p>
		</div>		
	</fieldset>
}

<div>
	@Html.ActionLink(PresentationResources.GoBack, "Find")
</div>
